
    <link rel="stylesheet" type="text/css" href="css/signup.css" />
	
    <link rel="stylesheet" type="text/css" href="css/browse.css" />
<br><br>
        <div class="container">
           <div class="center wow fadeInDown">
                <h2 style="font-family: 'Open Sans', sans-serif;font-weight: lighter; font-size:38px;">The #1 Platform for Startup Funding</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
            
            <div class="fund-summary-group">
         <div class="col-xs-12 col-sm-5 col-md-3 fund-summary"
                    data-customer-type-val="consumer"
                    data-product-type-val="software"
                    data-business-model-val="advertising"
                    data-industry-val="adtech" style="height: 280px;">
                <div class="partnership-card">
                    <div class="fund-basic-info-section partnership-card-section">
                        <a href="/companies/virool/">
                            
                            <div class="fund-logo">
                                <img src="https://d2aezjsmcp2rsz.cloudfront.net/companylogos/Virool.png" alt="Virool"/>
                            </div>

                            <div class="titles">
                                <h3>Virool</h3>
                                <div class="fund-details-list">Ad Tech</div>
                                
                            </div>
                        </a>
                    </div>
                    <div class="fund-info-section partnership-card-section">
                        <p class="blurb">Virool is a social video advertising platform that allows video creators to reach millions of viewers.</p>
                    </div>
                </div>
            </div>
        
         <div class="col-xs-12 col-sm-5 col-md-3 fund-summary"
                    data-customer-type-val="consumer"
                    data-product-type-val="software"
                    data-business-model-val="advertising"
                    data-industry-val="adtech" style="height: 280px;">
                <div class="partnership-card">
                    <div class="fund-basic-info-section partnership-card-section">
                        <a href="/companies/virool/">
                            
                            <div class="fund-logo">
                                <img src="https://d2aezjsmcp2rsz.cloudfront.net/companylogos/Virool.png" alt="Virool"/>
                            </div>

                            <div class="titles">
                                <h3>Virool</h3>
                                <div class="fund-details-list">Ad Tech</div>
                                
                            </div>
                        </a>
                    </div>
                    <div class="fund-info-section partnership-card-section">
                        <p class="blurb">Virool is a social video advertising platform that allows video creators to reach millions of viewers.</p>
                    </div>
                </div>
            </div>
         <div class="col-xs-12 col-sm-5 col-md-3 fund-summary"
                    data-customer-type-val="consumer"
                    data-product-type-val="software"
                    data-business-model-val="advertising"
                    data-industry-val="adtech" style="height: 280px;">
                <div class="partnership-card">
                    <div class="fund-basic-info-section partnership-card-section">
                        <a href="/companies/virool/">
                            
                            <div class="fund-logo">
                                <img src="https://d2aezjsmcp2rsz.cloudfront.net/companylogos/Virool.png" alt="Virool"/>
                            </div>

                            <div class="titles">
                                <h3>Virool</h3>
                                <div class="fund-details-list">Ad Tech</div>
                                
                            </div>
                        </a>
                    </div>
                    <div class="fund-info-section partnership-card-section">
                        <p class="blurb">Virool is a social video advertising platform that allows video creators to reach millions of viewers.</p>
                    </div>
                </div>
            </div>
         <div class="col-xs-12 col-sm-5 col-md-3 fund-summary"
                    data-customer-type-val="consumer"
                    data-product-type-val="software"
                    data-business-model-val="advertising"
                    data-industry-val="adtech" style="height: 280px;">
                <div class="partnership-card">
                    <div class="fund-basic-info-section partnership-card-section">
                        <a href="/companies/virool/">
                            
                            <div class="fund-logo">
                                <img src="https://d2aezjsmcp2rsz.cloudfront.net/companylogos/Virool.png" alt="Virool"/>
                            </div>

                            <div class="titles">
                                <h3>Virool</h3>
                                <div class="fund-details-list">Ad Tech</div>
                                
                            </div>
                        </a>
                    </div>
                    <div class="fund-info-section partnership-card-section">
                        <p class="blurb">Virool is a social video advertising platform that allows video creators to reach millions of viewers.</p>
                    </div>
                </div>
            </div>
        
        </div>
        
   </div>

            <div class="get-started center wow fadeInDown" style="background: #d9f8fa;">
                <h2 style="font-family: 'Open Sans', sans-serif;font-weight: lighter; font-size:38px;">Get on Board. Get Funded.</h2>
                
                <div class="container">
  <form class="form-inline" role="form">
    <div class="form-group">
      <input type="email" class="form-control" id="email" placeholder="Enter Email...">
    </div>
    <button type="submit" class="btn btn-info" ng-click="signup();">Sign Up</button>
    <br /><br /><br /><br />
  </form>
</div>
                <div class="request">
                    <h4><a href="#">Join us to get funded!</a></h4>
                </div>
            </div><!--/.get-started-->



            <div class="clients-area center wow fadeInDown" style="padding-bottom: 0px;">
              
            <div class="row">
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/ico/extras/community.png" class="img-circle" alt="">
                        <h3 style="font-family: 'Open Sans', sans-serif;font-weight: normal; font-size: 22px;">Simple Setup</h3>
                        <h4 style="font-family: 'Open Sans', sans-serif;font-weight: lighter;letter-spacing: 1.5px; font-size: 16px;">To explore the largest community of active angel investors and startups,<a href="#">click here</a>.</h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/ico/extras/insights.png" class="img-circle" alt="">
                        <h3 style="font-family: 'Open Sans', sans-serif;font-weight: normal; font-size: 22px;">Easy to Use</h3>
                        <h4 style="font-family: 'Open Sans', sans-serif;font-weight: lighter;letter-spacing: 1.5px; font-size: 16px;">To help entrepreneurs navigate the fundraising process, we offer education about how to fundraise through our<a href="#"> blog</a></h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/ico/extras/tools.png" class="img-circle" alt="">
                        <h3 style="font-family: 'Open Sans', sans-serif;font-weight: normal; font-size: 22px;">Vast Support</h3>
                        <h4 style="font-family: 'Open Sans', sans-serif;font-weight: lighter;letter-spacing: 1.5px; font-size: 16px;">Taking the time to complete your profile in a professional way will help you articulate your venture effectively to investors.</h4>
                    </div>
                
                   </div><!--/.container-->




    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown"><br>
                <br><h2 style="font-family: 'Open Sans', sans-serif;font-weight: lighter; font-size:38px;">How Bridge Works?</h2>
             </div>
     <div class="container">
            <div class="row">
                <div class="col-sm-10 wow fadeInDown">
                            <div class="pull-left">
                                 <img class="img-responsive" src="images/gallery/howbridgeworks.jpg">
                                 
                             </div>
                             
                       <div class="skill" style="line-height: 28px; font-size: 18px; font-weight:100 text-align: left;">
                       <h3 style="font-family: 'Open Sans', sans-serif;font-weight: normal; font-size:27px; text-align: left;">Create a Startup Profile</h3>
 <h4 style="font-family: 'Open Sans', sans-serif;font-weight: lighter; font-size:16px; text-align: left;">Your startup profile serves as a universal funding application accepted by all investors on our SaaS funding platform</h4>
 <h4 style="font-family: 'Open Sans', sans-serif;font-weight: normal; font-size:27px; text-align: left;">Control Who Sees What</h4>

 <h5 style="font-family: 'Open Sans', sans-serif;font-weight: lighter; font-size:16px; text-align: left;">Choose which information to share publicly and which to share privately with accredited investors.</h5>
 
 <h4 style="font-family: 'Open Sans', sans-serif;font-weight: normal; font-size:27px; text-align: left;">Share Documents Securely</h4>
 <h5 style="font-family: 'Open Sans', sans-serif;font-weight: lighter; font-size:16px; text-align: left;">Upload and selectively share your business documents with potential accredited investors.</h5>
 <h4 style="font-family: 'Open Sans', sans-serif;font-weight: normal; font-size:27px; text-align: left;">Track Investor Activity</h4>
 <h5 style="font-family: 'Open Sans', sans-serif;font-weight: lighter; font-size:16px; text-align: left;">Easily track the status of your applications and manage investor relationships.</h5>

					</div>
                </div><!--/.col-sm-6-->

             
            </div><!--/.row-->
        
        </div><!--/.container-->
    </section><!--/#recent-works-->



<div class="container">
	<div class="center wow fadeInDown">
    	<hr>
        <br><br><br>
        <h3 style="font-family: 'Open Sans', sans-serif;font-weight: lighter; font-size:38px;">Join the Trusted Network</h3>
      
                <div class="container">
  <form class="form-inline" role="form">
    <div class="form-group">
      <input type="email" class="form-control" style="border" id="email" placeholder="Enter Email...">
    </div>
    <button type="submit" class="btn btn-info" ng-click="signup();">Sign Up Now</button>
    <br /><br /><br /><br />
  </form>
</div>  
        <br><br>
     </div>
</div>
	
    

